<p><label>日期</label><br/>
<%= select_date @training.start_time.nil? ? nil : @training.start_time.to_date, :prefix => "start_time", :start_year => Date.today.year, :end_year => Date.today.year+1, :use_month_numbers => true %></p>

<p><label>开始时间</label><br/>
<%= select_hour @training.start_time.nil? ? nil : @training.start_time.hour, :prefix => "start_time" %>
<%= select_minute @training.start_time.nil? ? nil : @training.start_time.min, :prefix => "start_time", :minute_step=>15 %></p>

<p><label>结束时间</label><br/>
<%= select_hour @training.end_time.nil? ? nil : @training.end_time.hour, :prefix => "end_time" %>
<%= select_minute @training.end_time.nil? ? nil : @training.end_time.min, :prefix => "end_time", :minute_step=>15 %></p>

<p><label for="football_ground_id">选择球场</label><br/>
<%= f.football_ground_select :football_ground_id, :include_blank => true %></p>

<%= link_to "添加一个球场", new_football_ground_path%>

<p><label for="location">其他地点</label><br/>
<%= f.text_field :location %></p>
  
<p><label for="summary">说明</label><br/>
<%= f.text_area :summary %></p>