<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%= error_messages_for :training %>
  <% form_for @training do |f| %>

  <%= render :partial => "form", :locals => {:f => f}%>

  <p><%= submit_tag '更新' %></p>
  <% end %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to "返回训练详情", training_path(@training) %>
    </li>
  </ul>
</div>
  
<div class="cb"></div>