<%content_for(:stylesheet) do%>
  <%= stylesheet_link_tag 'calendar' %>
  <%= stylesheet_link_tag 'activityitem' %>
<%end%>

<div id="wide_left_content">
  <div class="sect">
    <h2><%= h @title%></h2>
    <div class="activities">
      <%=date_div_link @training.start_time, @team%>
      <%= render :partial => 'shared/activity', :object => @training%>
      <div class="clearBoth"></div>
    </div>
    <%if logged_in?%> 
      <div style="float:right">
        <%links = []%>
        <%if @training.can_be_modified_by?(current_user)%>
          <%links << "> #{link_to '修改', edit_training_path(@training)}"%>
        <%end%>
        <% if @training.can_be_destroyed_by?(current_user) %>
          <%links << "> #{link_to '取消', training_path(@training), :method=>'delete', :confirm=>'真的要取消这次训练吗？'}"%>
        <%end%>
        <%= links_with_sticks links%>
      </div>
    <%end%>
    <div class="clearBoth"></div>
  </div>

<%if !@training.summary.blank?%>
  <div class="tab_container">
    <span class="tab_link" style="margin-left: 10px;">本次训练说明</span>
    <div class="tab">
      <p><%=simple_format auto_link(h(@training.summary), :urls)%></p>
    </div>
  </div>
<%end%>

  <div class="sect">
    <h2>关于本次训练的讨论</h2>
    <%= render(:partial => 'posts/post_list', :object => @posts)%>
    <div style="margin: 5px 10px  0 10px;float:right">
      <%links = []%>
      <%links << "> #{link_to '针对本次训练发言', new_training_post_path(@training)}" if logged_in? && current_user.is_team_member_of?(@training.team)%>
      <%links << "> #{link_to '更多', training_posts_path(@training)}"%>
      <%= links_with_sticks links%>
    </div>
  </div>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2>参加这次训练的人</h2>
    <%= user_icon(@training.users.joined)%>
    <div class="clearBoth"></div>
  </div>

  <div class="sect">
    <h2>尚未决定是否参加的人</h2>
    <%= user_icon(@training.users.undetermined)%>
    <div class="clearBoth"></div>
  </div>
</div>

<div class="clearBoth"></div>
