<ul class="sidebar_menu">
  <li <%= selected_class_sidebar_menu_item(:action=>'joined_users', :controller=>'matches')%>>
    > <%= link_to("代表#{@team.name}参加这次比赛的人", joined_users_match_path(@match,:team_id=>@team.id)) %>
  </li>
  <li <%= selected_class_sidebar_menu_item(:action=>'undetermined_users', :controller=>'matches')%>>
    > <%= link_to("尚未决定是否代表#{@team.name}参加这次比赛的人", undetermined_users_match_path(@match,:team_id=>@team.id)) %>
  </li>
  <li class='seperate'>
  </li>
  <li>
    > <%= link_to "返回比赛", match_path(@match) %>
  </li>
  <li>
    > <%= link_to "返回#{@team.name}首页", team_view_path(@team) %>
  </li>
</ul>

