<ul class="sidebar_menu">
  <li <%= selected_class_sidebar_menu_item(:action=>'formation_index')%>>
  > <%= link_to '查看阵型', formation_index_team_joins_path(:team_id => @team) %>
  </li>
  <%if logged_in? && current_user.is_team_admin_of?(@team)%>
    <li class='seperate'>
    </li>
    <li <%= selected_class_sidebar_menu_item(:action=>'player_management')%>>
      > <%= link_to '选拔队员', player_management_team_joins_path(:team_id => @team) %>
    </li>
    <li <%= selected_class_sidebar_menu_item(:action=>'formation_management')%>>
      > <%= link_to '安排阵型', formation_management_team_joins_path(:team_id => @team) %>
    </li>
  <%end%>
  <li class='seperate'>
  </li>
  <li>
    > <%= link_to '返回球队首页', team_view_path(@team) %>
  </li>
  <div class="clearBoth"></div>
</ul>
