<ul class="sidebar_menu">
  <li>
    > <%= link_to "所有球队", user_team_joins_path(@user) %>
  </li>
  <li>
    > <%= link_to "新建球队", new_team_path %>
  </li>
  <%if @user == current_user%>
    <li class='seperate'>
    > <%= link_to "邀请我加入的球队", team_join_invitations_path %>
    </li>
    <li>
    > <%= link_to("我申请加入的球队", team_join_requests_path) %>
    </li>
  <%end%>
  <li class='seperate'>
    > <%= link_to "返回个人首页", user_view_path(@user) %>
  </li>
</ul>
