<p>
  <label>发件人</label>
  <%= render(:partial => 'shared/user_icon', :object => @message.sender)%>
</p>

<p>
  <label>收件人</label>
  <%= render(:partial => 'shared/user_icon', :object => @message.receiver)%>
</p>

<p>
  <label>主题</label>
  <%=h @message.subject%>
</p>

<p>
  <label>内容</label>
  <%=simple_format auto_link(@message.content, :urls, :target => '_blank')%>
</p>

<%=link_to "回复", new_message_path(:to=>@message.sender.id) if @message.sender!=current_user%>
<%=link_to "再写一封", new_message_path(:to=>@message.receiver.id) if @message.receiver!=current_user%>