<div class="post">
<%if post.user_id%>
  <%=small_user_image_link(post.user)%>
<%else%>
  <%= image_tag 'default_user_small.gif', :class=>"icon", :title=>''%>
<%end%>

<span class="title">
<%=h post.created_at.strftime('%Y-%m-%d %H:%M:%S')%>
<%if post.user_id%>
  <span class="name">来自<%=link_to h(post.user.nickname), user_view_path(post.user.id) %></span>
<%else%>
  <span class="name">来自 匿名</span>
<%end%>
</span>

<p>
  <%=simple_format auto_link(h(post.content), :urls) %>
</p>

<%if logged_in?%>
<div class="control">
<%if post.is_a?(SitePost)%>
  <%= "> #{link_to('删除',  site_post_path(post.id), :method=>"delete")}" if post.can_be_destroyed_by?(current_user)%>
<%elsif post.is_a?(SiteReply)%>
  <%= "> #{link_to "删除", site_post_site_reply_path(parent, post.id), :method=>"delete"}" if post.can_be_destroyed_by?(current_user) %>
<%end%>
</div>
<%end%>

</div>