<%content_for(:javascript) do%>
  <%= javascript_include_tag "ui.mouse.js" %>
  <%= javascript_include_tag "ui.dialog.js" %>
<%end%>

<div id="left_content">
  <div class="sect">
    <h2><%=h @title%></h2>
    <div class="tab_container" style="margin:10px 0 10px 0">
      <span class="tab_link" style="margin-left: 10px;">球场信息</span>

      <div class="tab">
        <%= "<span>球场名称: #{h @football_ground.name}</span><br/>" unless @football_ground.name.blank?%>
        <%= "<span>所在地: #{@football_ground.city_text}</span><br/>" unless @football_ground.city_text.nil?%>
        <%= "<span>球场类型: #{ground_type_text(@football_ground.ground_type)}</span><br/>" unless @football_ground.ground_type.nil?%>
        <%= "<span>已停用</span><br/>" if @football_ground.status == 2%>
        <%if !@football_ground.description.blank?%>
          <label>球队简介:</label>
          <p><%=simple_format auto_link(h(@football_ground.description), :urls)%></p>
        <%end%>
      </div>

      <div style="margin: 10px 0 0 10px">
        <%links = []%>
        <%links << link_to("我要去这个球场踢", '#', 
                :onclick=>'j("#play_create_div").dialog("open");return false;')%>
        <%links << link_to('编辑', edit_football_ground_path(@football_ground)) if @is_editor%>
        <%= links_with_sticks links%>
      </div>
    </div>
  </div>

  <div id="play_create_div" class="jmodaldialog" style="width:250px">
    <% form_for @play do |f| %>
      <%= f.hidden_field :football_ground_id %>
      <span>我要去这块球场踢...</span><br />
      <p><label>哪天去</label><br/>
      <%= select_date @default_start_time, :prefix => "start_time", :start_year => Date.today.year, :end_year => Date.today.year+1, :use_month_numbers => true %></p>

      <p><label>几点到</label><br/>
      <%= select_hour @default_start_time,:prefix => "start_time" %>
      <%= select_minute @default_start_time,:prefix => "start_time", :minute_step=>15 %></p>

      <p><label>几点走</label><br/>
      <%= select_hour @default_end_time,:prefix => "end_time" %>
      <%= select_minute @default_end_time,:prefix => "end_time", :minute_step=>15 %></p>

      <%= f.submit '确认' %>
      <%= f.submit "撤销", :onclick=>'j("#play_create_div").dialog("close");return false;' %>
    <% end %>
  </div>
</div>


<div id="right_content">
  <div class="sect">
    <h2>未来24小时在这个球场进行的活动</h2>
    <%= render :partial => 'shared/activities', :object => @activities, :locals=>{:start_date=> Time.now, :end_date=> Time.now.tomorrow}%>
  </div>
</div>
<div class="cb"></div>
