<%host_team_icon, guest_team_icon = team_icons_of_match match_info
time = match_info.start_time.strftime("%m月%d日 %H:%M")
location = match_info.location
result = match_info.result_text%>

<%= host_team_icon%>
<div class="m_result"><%= result%></div>
<%= guest_team_icon%>
<div class="cb"></div>
<div class="detail">
  <span>比赛时间: </span><%= time%><br />
  <%if !location.blank?%>
    <span>比赛地点: </span><%= location %>
  <%end%>
</div>