<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%=render :partial=>'match_review_list', :object=>@reviews%>
  <%= will_paginate @reviews %>
</div>

<div id="narrow_right_content" class="sect">
  <h2>比赛信息</h2>
  <div class="sect mreview_minfo">
    <%=render :partial=>'match_reviews/match_info', :object => @match%>
  </div>
  <%=render :partial=>'sidebar_menu'%>
</div>
<div class="cb"></div>
