<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
    > <%= link_to '返回比赛详情', sided_match_path(@sided_match)%>
    </li>
  </ul>
</div>

<div id="wide_left_content" class="sect">
  <h2><%= h @title%></h2>

  <%= error_messages_for :sided_match %>
  <br/>
  <% form_for @sided_match, :url=>update_result_sided_match_path(@sided_match) do |f| %>

<%
goal_checked = true
sit_checked = false
dnc_checked = false

if !@sided_match.host_team_goal.blank? || !@sided_match.guest_team_goal.blank?
  goal_checked = true
  sit_checked = false
  dnc_checked = false
elsif !@sided_match.situation.blank?
    if @sided_match.situation == 1
        goal_checked = false
        sit_checked = false
        dnc_checked = true
    else
        goal_checked = false
        sit_checked = true
        dnc_checked = false
    end
end%>

    <div class="result_input">
      <input type="radio" class="goal_input_switch switch" value="goal" name="result_type" <%= 'checked' if goal_checked%>>填写具体比分</input>
      <input type="radio" class="situation_input_switch switch" value="situation" name="result_type" <%= 'checked' if sit_checked%>>填写赛况</input>
      <input type="radio" class="donotcare_input_switch switch" value="donotcare" name="result_type" <%= 'checked' if dnc_checked%>>比赛结果无所谓</input><br/><br/>
      <div class="goal_input result_block">
        <div style="margin: 10px 0">
          <%=@sided_match.host_team.shortname%>
          <%= f.text_field :host_team_goal, :maxlength => 2, :size=>1 %>
          :
          <%= f.text_field :guest_team_goal, :maxlength => 2, :size=>1 %>
          <%=@sided_match.guest_team_name%>
        </div>
      </div>
      <div class="situation_input result_block">
        <p>
          <%for s in SidedMatch::SITUATIONS[1..-1]%>
            <%= f.radio_button(:situation, s)%><%=situation_text(s)%>
          <%end%>
        </p>
      </div>
    </div>
    <br />

    进球数和得牌情况: <br/>
    <table class='list' style="width: <%= @sided_match.has_card ? '400px' : '290px'%>">
      <th>&nbsp;</th>
      <th style="width:80px">昵称</th>
      <th style="width:60px">位置</th>
      <th>进球数</th>
      <%if @sided_match.has_card%>
        <th>红黄牌</th>
      <%end%>

      <%for mj in @player_mjs%>
        <tr>
          <td><%= tiny_user_image_link(mj.user)%></td>
          <td style="width:80px"><%= link_to h(mj.user.nickname), user_view_path(mj.user)%></td>
          <td style="width:60px"><%= formation_position_text mj.position %></td>
          <td>
            <%= text_field_tag "mj[#{mj.id}][goal]", 
                @match_join_hash && @match_join_hash[mj.id.to_s] ? @match_join_hash[mj.id.to_s][:goal] : mj.goal,
                :maxlength => 2, :size=>1%></td>
          <%if @sided_match.has_card%>
            <td>
              <%= select_tag "mj[#{mj.id}][cards]", 
                  options_for_select(
                      MatchJoin::CARDS.map {|c| [card_text(c), c]},
                      @match_join_hash && @match_join_hash[mj.id.to_s] ? @match_join_hash[mj.id.to_s][:cards].to_i : mj.cards)
              %>
            </td>
          <%end%>
        </tr>
      <%end%>
    </table>

    <p><%= f.submit "提交比赛结果" %></p>
  <% end %>
</div>

<div class="cb"></div>