<div id="wide_left_content">
  <div class="sect">
    <h2>比赛基本信息</h2>
    <div class="activities">
        <%=date_div_link @match.start_time, @match.host_team%>
        <div class="detail">
          <%if @match.is_after_match?%>
            <% tmp = display_sided_match_result @match%>
            <%if !tmp.nil?%>
              <div class="sided_match_result"><%=tmp%></div>
            <%end%>
          <%end%>
          <span>对阵球队: </span><%=h @match.guest_team_name%><br />
          <%if @match.is_after_match?%>
            <span>比赛结果: </span><%=sided_match_result_text @match%><br />
          <%end%>
          <span>时间: </span><%= @match.start_time.strftime("%H:%M")%>-<%=@match.end_time.strftime("%H:%M")%><br />
          <span>时长: </span>上下半场各<%= @match.half_match_length%>分钟,中场休息<%= @match.rest_length%>分钟<br />
          <span>地点: </span><%= location_link @match.location, @match.football_ground_id %><br />
          <span>比赛类型: </span><%= match_type_text @match.match_type%><br />
          <span>人数: </span><%= @match.size%>人制<br />
          <span>平局后: </span><%= win_rule_text @match.win_rule%><br/>
          <span>其他规则: </span><%= @match.has_judge ? '有' : '没有'%>裁判, <%= @match.has_card ? '有' : '没有'%>红黄牌, <%= @match.has_offside ? '有' : '没有'%>越位<br/>
          <%if logged_in? && current_user.is_team_member_of?(@match.team)%>
            <br />
            <span>我的状态: </span>
            <%= join_status_text @match%>&nbsp;&nbsp;&nbsp;
            <%links = []%>
            <% links_text = join_status_links @match%>
            <% links << link_to(links_text[0], sided_match_sided_match_joins_path(@match), :method=>'post') if @match.can_be_joined_by?(current_user)%>
            <% links << link_to(links_text[1], sided_match_sided_match_join_path(@match, 0), :method=>'delete') if @match.can_be_quited_by?(current_user)%>
            <%= links_with_sticks links%>
          <%end%>
        </div>
        <div class="cb"></div>
    </div>
    <%if logged_in?%>
      <div class="control">
        <%links = []%>
        <%if @match.can_be_edited_by?(current_user)%>
          <%links << " #{link_to '修改', edit_sided_match_path(@match)}"%>
        <%end%>
        <% if @match.can_be_edited_formation_by?(current_user) %>
          <%links << " #{link_to '编辑阵型', edit_formation_sided_match_joins_path(:match_id=>@match.id)}"%>
        <%end%>
        <% if @match.can_be_edited_result_by?(current_user) %>
          <%links << " #{link_to '填写比赛结果', edit_result_sided_match_path(@match)}"%>
        <%end%>
        <% if @match.can_be_destroyed_by?(current_user) %>
          <%links << " #{link_to '取消', sided_match_path(@match), :method=>:delete, :confirm=>'真的要取消这场比赛吗？'}"%>
        <%end%>
        <%= links_with_sticks links%>
      </div>
    <%end%>
    <div class="cb"></div>
  </div>
  <%if !@match.description.blank?%>
  <div class="sect">
      <h2>比赛说明</h2>
      <p><%=simple_format auto_link(h(@match.description), :urls)%></p>
  </div>
  <%end%>
  
  <%if @match.is_after_match? && !@team_goals.empty?%>
  <div class="sect">
    <h2>进球</h2>
    <%links = []%>
    <%@team_goals.each do |ut|%>
      <%links << "#{link_to h(ut.user.nickname), user_view_path(ut.user)}进了#{ut.goal}个球"%>
    <%end%>
    <%= links_with_sticks links, ', '%>
  </div>
  <%end%>
          
  <div class="sect">        
    <h2>首发名单</h2>
    <table class="list" style="float:left;width:175px;margin-right:10px;">
      <tr>
        <th>&nbsp;</th>
        <th style="width:80px">昵称</th>
        <th style="width:60px">位置</th>
      </tr>
      <% (@player_mjs).each do |ut| %>
        <tr>
          <td><%= user_image_link ut.user, :thumb => :tiny%></td>
          <td style="width:80px"><%= link_to h(ut.user.nickname), user_view_path(ut.user)%></td>
          <td style="width:60px"><%= formation_position_text ut.position %></td>
        </tr>
      <%end%>
      <%(@match.size - @player_mjs.size).times do%>
       <tr>
          <td>&nbsp;</td>
          <td style="width:80px">尚未选定</td>
          <td>?</td>
        </tr>
      <%end%>
    </table>
    <div class="small_field" style="float:left;margin-top:25px">
      <%@player_mjs.each do |ut|%>
        <% pos = team_field_position(ut.position, @formation_array) %>
        <%= link_to user_image_tag(ut.user, :thumb => :small,
          :style=>"left:#{pos[:left]}px;top:#{pos[:top]}px;",
          :title=>ut.user.nickname), user_view_path(ut.user), :class=>"resize_small_icon" %>
      <%end%>
      <div class="cb"></div>
    </div>
    <div class="cb"></div>
  </div>
</div>

        
<div id="narrow_right_content">
  <div class="sect">
    <h2>参加这场比赛的人</h2>
    <%if @joined_users.length <= SidedMatchesController::JOINED_USER_LIST_LENGTH%>
        <%= user_icon(@joined_users)%>
    <%else%>
        <%@joined_users.pop%>
        <%= user_icon(@joined_users)%>
        <div class="cb"></div>
        <%= link_to "> 更多",joined_users_sided_match_path(@match.id), :class=>"more" %>
    <%end%>
    <div class="cb"></div>
  </div>
         
  <div class="sect">
    <h2>没表态是否参加的人</h2>
    <%if @undetermined_users.length <= SidedMatchesController::UNDETERMINED_USER_LIST_LENGTH%>
        <%= user_icon(@undetermined_users)%>
    <%else%>
        <%@undetermined_users.pop%>
        <%= user_icon(@undetermined_users)%>
        <div class="cb"></div>
        <%= link_to "> 更多",undetermined_users_sided_match_path(@match.id), :class=>"more" %>
    <%end%>
    <div class="cb"></div>
  </div>

  <div class="sect">   
    <h2><%=h @team.shortname%>关于本场比赛的讨论</h2>
    <%= render :partial=>'posts/narrow_post_list', :object=>@posts%>
    <div class="post_more">
      <%links = []%>
      <%links << "> #{link_to '针对本场比赛发言', new_sided_match_post_path(@match)}" if logged_in? && current_user.is_team_member_of?(@team)%>
      <%links << "> #{link_to '更多', sided_match_posts_path(@match)}"%>
      <%= links_with_sticks links%>
    </div>
    <div class="cb"></div>
  </div>                  
</div>

<div class="cb"></div>
