<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/team_view_team_and_management'%>
</div>

<div id="wide_left_content">
  <div class="sect">
    <h2>管理员</h2>
    <%@admin_uts.each do |ut| %>
      <div class="icon_select">
        <%= user_icon(ut.user)%>
        <div>
          <%if !ut.is_the_only_one_admin?%>
            <%=link_to("不再担任管理员",team_join_path(ut, "ut[is_admin]" => false, 
                :back_uri => request.request_uri),:method=>:put) if ut.can_degree_as_common_user_by?(current_user)%>
            <br/><br/>
            <%=link_to("逐出球队",team_join_path(ut, :back_uri => request.request_uri),:method=>:delete) if ut.can_destroy_by?(current_user)%>
          <%end%>
        </div>
      </div>
    <%end%>
    <div class="clearBoth"></div>
  </div>

  <div class="sect">
    <h2>其他成员</h2>
    <%@other_uts.each do |ut| %>
      <div class="icon_select">
        <%= user_icon(ut.user)%>
        <div>
          <%=link_to("提升为管理员",team_join_path(ut, "ut[is_admin]" => true, 
              :back_uri => request.request_uri),:method=>:put) if ut.can_promote_as_admin_by?(current_user)%>
          <br/><br/>
          <%=link_to("逐出球队",team_join_path(ut, :back_uri => request.request_uri),:method=>:delete) if ut.can_destroy_by?(current_user)%>
        </div>
      </div>
    <%end%>
    <div class="clearBoth"></div>
  </div>
</div>

<div class="clearBoth"></div>