<%content_for(:javascript) do%>
  <%= javascript_include_tag "ui.mouse.js" %>
  <%= javascript_include_tag "ui.draggable.js" %>
  <%= javascript_include_tag "ui.droppable.js" %>
  <%= javascript_include_tag "ui.droppable.ext.js" %>
  <%= javascript_include_tag "formation.js" %>
<%end%>

<%content_for(:stylesheet) do%>
  <%= stylesheet_link_tag 'formation_management' %>
<%end%>

<div style="float:right;width:422px" class="sect">
  <%=render :partial=>'sidebar_menus/team_view_formation'%>
  <div class="clearBoth"></div>
  <div id="field_div">
    <%@starting_uts.each do |ut|%>
      <% tmp = formation_field_position(ut.position, @formation_array) %>
      <div style="width: 40px; height: 40px; position: absolute; <%= "top:#{tmp[:top]}px;left:#{tmp[:left]}px"%>">
        <%= tiny_user_image_link ut.user%>
      </div>
    <%end%>
  </div>
</div>

<div style="float:left;width:490px" class="sect">
  <h2><%=h @title%></h2>
  <table class="list" style="width:100%">
    <tr>
      <th>&nbsp;</th>
      <th style="width:80px">昵称</th>
      <th>位置</th>
      <th>惯用脚</th>
      <th>身高(cm)</th>
      <th>体重(kg)</th>
    </tr>
    <tbody>
      <% (@starting_uts + @subs_uts).each do |ut| %>
        <tr>
          <td><%= tiny_user_image_link ut.user%></td>
          <td style="width:80px"><%= link_to truncate(h(ut.user.nickname), 12), user_view_path(ut.user)%></td>
          <td><%= formation_position_text ut.position %></td>
          <td><%= fitfoot_text ut.user.fitfoot %></td>
          <td><%= ut.user.height != nil ? ut.user.height : "未知" %></td>
          <td><%= ut.user.weight != nil ? ut.user.weight : "未知"  %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="clearBoth"></div>
