<%content_for(:stylesheet) do%>
  <%= stylesheet_link_tag 'calendar' %>
  <%= stylesheet_link_tag 'activityitem' %>
<%end%>

<div id="wide_left_content">
  <div class="sect">
    <h2><%= h @title%></h2>
    <div class="activities">
      <%=date_div_link @play.start_time, @user%>
      <%= render :partial => 'shared/activity', :object => @play%>
      <div class="clearBoth"></div>
    </div>
  </div>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2>打算一起去踢的有...</h2>
    <%if @players.length <= PlaysController::PLAYER_LIST_LENGTH%>
        <%= user_icon(@players)%>
    <%else%>
        <%@players.pop%>
        <%= user_icon(@players)%>
        <%= link_to ">> 更多",players_play_path(@play.id), :class=>"more" %>
    <%end%>  
    <div class="clearBoth"></div>
  </div>
</div>



<div class="clearBoth"></div>

