<div id="wide_left_content">
  <div class="sect">
    <h2>随便踢踢的基本信息</h2>
    <div class="activities">
      <%=date_div_link @play.start_time, @user%>
      <div class="detail">
        <span>时间: </span><%= @play.start_time.strftime("%H:%M")%>-<%=@play.end_time.strftime("%H:%M")%><br />
        <span>地点: </span><%= location_link @play.location, @play.football_ground_id %><br />
        <%if logged_in?%>
          <br />
          <span>我的状态: </span>
          <%= @play.join_status_text current_user%>&nbsp;&nbsp;&nbsp;
          <%links = []%>
          <% links_text = @play.join_links_text current_user%>
          <% links << link_to(links_text[0], play_play_joins_path(@play), :method=>'post') if @play.can_be_joined_by?(current_user)%>
          <% links << link_to(links_text[1], play_play_join_path(@play, 0), :method=>'delete') if @play.can_be_quited_by?(current_user)%>
          <%= links_with_sticks links%>
        <%end%>
      </div>
      <div class="cb"></div>
    </div>
  </div>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2>去随便踢踢的人有 <%= link_to "(更多...)",players_play_path(@play.id) %></h2>
    <%= user_icon(@players)%>
    <div class="cb"></div>
  </div>
</div>

<div class="cb"></div>

