<p>
  <b>Appler:</b>
  <%=h @pre_friend_relation.appler_id %>
</p>

<p>
  <b>Host:</b>
  <%=h @pre_friend_relation.host_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @pre_friend_relation.message %>
</p>

<p>
  <b>Apply date:</b>
  <%=h @pre_friend_relation.apply_date %>
</p>


<%= link_to 'Edit', edit_pre_friend_relation_path(@pre_friend_relation) %> |
<%= link_to 'Back', pre_friend_relations_path %>
