<h1>邀请我加入的球队</h1>

<% for req in @requests %>
  <div>
    <%= render :partial => "shared/team_icon", :object => req.team%>
    <span>申请日期: <%= req.apply_date.to_s(:db) %></span><br/>
    <%if !req.message.nil? && !req.message.blank?%>
      <span>留言: </span>
      <p><%=simple_format req.message%></p>
    <%end%>
    <%= link_to '接受', team_joins_path(:id=>req.id, :back_uri => request.request_uri), :method => :post %>
    <%= link_to '拒绝', team_join_invitation_path(req.id), :method => :delete %>
  </div>
<% end %>