<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <table class="list">
    <tr>
      <th style="width:70px">&nbsp;</th>
      <th style="width:70px">邀请时间</th>
      <th style="width:300px">留言</th>
      <th style="width:100px">&nbsp;</th>
    </tr>
    <% for req in @requests %>
      <tr>
        <td><%= small_user_image_link req.user%></td>
        <td><%=req.apply_date.to_s(:db) %></td>
        <td>
          <%= link_to h(req.team.shortname), team_view_path(req.team) %>邀请<%= link_to h(req.user.nickname), user_view_path(req.user) %>加入
          <br/><br/>
          <%if !req.message.blank?%>
            留言:
            <%= h(req.message) %>
            <br/><br/>
          <%end%>
        </td>
        <td>
          <%= button_to '撤销邀请', team_join_invitation_path(req.id, :back_uri => request.request_uri), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
    > <%= link_to("申请加入球队的用户", team_team_join_requests_path(@team)) %>
    </li>
  </ul>
</div>
<div class="clearBoth"></div>