<div id="wide_left_content" class="sect">
<h2><%=h @title%></h2>
<%if @teams.empty?%>
  <div class="notification">没有可以邀请加入的球队。<br/><br/>可能你还没有管理任何球队，或者这个用户已经加入了所有你管理的球队</div>
<%else%>
  <% form_for :team_join_request, :url => team_join_invitations_path, :method=>"POST" do |f| %>
    <%= f.hidden_field :user_id,  :value=>@user.id%>
    <%= hidden_field_tag 'teams_id[]', ''%>

    <%@teams.each do |team|%>
      <div class="icon_select">
        <%= team_icon(team)%>
        <div class="input"><%= check_box_tag "teams_id[]", team.id%></div>
      </div>
    <%end%>
    <div class="cb"></div>

    <span>留言 <span class="optional">(可选)</span></span><br />
    <%= f.text_area :message, :cols => 40, :rows => 3 %><br />
    <%= f.submit "邀请" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag '选定全部', :onclick => 'wefootball.checkAllInputs();return false;'%>
    <%= submit_tag '取消选定', :onclick => 'wefootball.checkAllInputs(false);return false;'%>
  <% end %>
<%end%>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= smart_return_user_view_menu_item @user %>
    </li>
  </ul>
</div>

<div class="cb"></div>
