<div id="wide_left_content" class="sect">
  <%for index in OfficialTeamModule::CATEGORY_LIST%>
    <%if @got.has_key?(index)%>
      <div class='sect'>
        <h2><%=h OfficialTeamModule::CATEGORY[index]%></h2>
        <%=official_team_icon @got[index]%>
      </div>
      <div class='cb'></div>
    <%end%>
  <%end%>
  <%= will_paginate @official_teams %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
    > <%= link_to "未来#{OfficialMatchesController::RECENT_DAYS}天内最受关注的比赛", official_matches_path %>
    </li>
    <li>
      > <%= link_to "过去#{OfficialMatchesController::HISTORY_DAYS}天内最受关注的比赛", history_official_matches_path %>
    </li>
    <%if @is_editor%>
    <li>
      > <%= link_to '新建球队', new_official_team_path %>
    </li>
    <%end%>
  </ul>
</div>
<div class="cb"></div>