<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%= error_messages_for :official_team %>
  <% form_for @official_team do |f| -%>
    <%= render :partial => "form", :locals=>{:f=> f}%>
    <p><%= submit_tag '创建' %></p>
  <% end -%>
</div>

  
<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to '返回球队列表', official_teams_path %>
    </li>
  </ul>
</div>
<div class="cb"></div>