<%if @has_joined_notice%>
<div class="flash">
  <%=h @has_joined_user.login %>已经在WeFootball注册<br />
  <%=link_to "点击这里, 进入#{h @has_joined_user.login}的个人主页", user_view_path(@has_joined_user_id)%>
</div>
<%end%>

<div id="wide_left_content" class="sect">
  <h2>邀请你的朋友使用WeFootball</h2>
  <%= error_messages_for :register_invitation %>

  <% form_for @register_invitation, :url=>invite_users_path do |f| -%>

  <p><label for="login">朋友的Email <span class="optional">(hotmail、pku邮箱可能无法收到邀请邮件)</span></label><br/>
  <%= f.text_field :login %></p>

  <p><label for="message">留言 <span class="optional">(可选)</span></label><br/>
  <%= text_area_tag :message, nil, :cols => 40, :rows => 3  %></p>   

  <%if !@teams.empty?%>
    <label for="team_join_invitation">选择邀请朋友加入的球队 <span class="optional">(可选)</span></label><br/><br/>
    <%@teams.each do |team|%>
      <div class="icon_select">
        <%= team_icon(team)%>
        <div class="input"><%= check_box_tag "teams_id[]", team.id%></div>
      </div>
    <%end%>
    <div class="cb"></div>
  <%end%>

      
  <p><%= submit_tag '邀请' %></p>
  <% end -%>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/user_view_friend'%>
</div>
  
<div class="cb"></div>
