<% display_status = logged_in? %>

<%if activity.class == Training || activity.class == SidedMatch%>
  <%display_status = display_status && current_user.is_team_member_of?(activity.team)%>
<%elsif activity.class == Match%>
  <%display_status = display_status && (current_user.is_team_member_of?(activity.host_team) || current_user.is_team_member_of?(activity.guest_team))%>
<%end%>

<%if activity.class == Training%>
<div class="activity training_activity">
  <div class="content">
    <%= link_to h(activity.team.shortname), team_view_path(activity.team.id) %>训练
    <br/><br/>
    <%= activity.start_time.strftime('%H:%M')%>-<%= activity.end_time.strftime('%H:%M')%>,
    <%= location_link activity.location, activity.football_ground_id %>
    <br/><br/>
    <%links = []%>
    <%if display_status%>
      <%= time_status_text activity%>, <%= activity.join_status_text current_user%>&nbsp;&nbsp;&nbsp;
      <% links_text = activity.join_links_text current_user%>
      <% links << link_to(links_text[0], training_training_joins_path(activity), :method=>'post') if activity.can_be_joined_by?(current_user)%>
      <% links << link_to(links_text[1], training_training_join_path(activity, 0), :method=>'delete') if activity.can_be_quited_by?(current_user)%>
    <%else%>
      <%= time_status_text activity%>&nbsp;&nbsp;&nbsp;
    <%end%>
    <%links << link_to('详情', activity)%>
    <%= links_with_sticks links%>
  </div>
  <div class="activity_icon">
    <%= team_image_link activity.team %>
  </div>
</div>
<%elsif activity.class == SidedMatch%>
<div class="activity match_activity">
  <div class="content">
    <%= link_to(h(activity.host_team_name), team_view_path(activity.host_team_id))%>
    V.S.
    <%=h activity.guest_team_name%>
    <br/><br/>
    <%= activity.start_time.strftime('%H:%M')%>-<%= activity.end_time.strftime('%H:%M')%>,
    <%= location_link activity.location, activity.football_ground_id%>
    <br/><br/>
    <%links = []%>
    <%if display_status%>
      <%= time_status_text activity%>, <%= activity.join_status_text current_user%>&nbsp;&nbsp;&nbsp;
      <% links_text = activity.join_links_text current_user%>
      <% links << link_to(links_text[0], sided_match_sided_match_joins_path(activity), :method=>'post') if activity.can_be_joined_by?(current_user)%>
      <% links << link_to(links_text[1], sided_match_sided_match_join_path(activity, 0), :method=>'delete') if activity.can_be_quited_by?(current_user)%>
    <%else%>
      <%= time_status_text activity%>&nbsp;&nbsp;&nbsp;
    <%end%>
    <%links << link_to('详情', activity)%>
    <%= links_with_sticks links%>
  </div>
  <div class="activity_icon">
    <%= team_image_link activity.host_team, :thumb=>:small, :class=>"host_icon" %>
    <div class="vs" title="V.S."></div>
    <%= team_image_tag Team.new(:shortname => activity.guest_team_name), :thumb=>:small, :class=>"guest_icon" %>
  </div>
</div>
<%elsif activity.class == Play%>
<div class="activity play_activity">
  <div class="content">
    去<%= location_link activity.location, activity.football_ground_id%>随便踢踢
    <br/><br/>
    <%= activity.start_time.strftime('%H:%M')%>-<%= activity.end_time.strftime('%H:%M')%>
    <br/><br/>
    <%links = []%>
    <%if display_status%>
      <%= time_status_text activity%>, <%= activity.join_status_text current_user%>&nbsp;&nbsp;&nbsp;
      <% links_text = activity.join_links_text current_user%>
      <% links << link_to(links_text[0], play_play_joins_path(activity), :method=>'post') if activity.can_be_joined_by?(current_user)%>
      <% links << link_to(links_text[1], play_play_join_path(activity, 0), :method=>'delete') if activity.can_be_quited_by?(current_user)%>
    <%else%>
      <%= time_status_text activity%>&nbsp;&nbsp;&nbsp;
    <%end%>
    <%links << link_to('详情', activity)%>
    <%= links_with_sticks links%>
  </div>
  <div class="activity_icon">
    <%if @user && activity.has_member?(@user)%>
      <%= user_image_link(@user) %>
    <%else%>
      <%= user_image_link(activity.users.find(:first)) %>
    <%end%>
  </div>
</div>
<%elsif activity.class == Watch%>
<div class="activity match_activity">
  <div class="content">
    <%= link_to "#{h activity.official_match.host_team_name} V.S. #{h activity.official_match.guest_team_name}", activity.official_match%>的看球活动
    <br/><br/>
    <%= activity.start_time.strftime('%H:%M')%>-<%= activity.end_time.strftime('%H:%M')%>,
    <%= h activity.location %>,
    <%= link_to "#{h activity.watch_join_count}人", users_watch_path(activity) %>参加
    <br/><br/>
    <%links = []%>
    <%if display_status%>
      <%= time_status_text activity%>, <%= activity.join_status_text current_user%>&nbsp;&nbsp;&nbsp;
      <% links_text = activity.join_links_text current_user%>
      <% links << link_to(links_text[0], watch_watch_joins_path(activity), :method=>'post') if activity.can_be_joined_by?(current_user)%>
          <% links << watch_quit_link_by_user(activity, current_user, links_text[1]) if activity.can_be_quited_by?(current_user)%>
    <%else%>
      <%= time_status_text activity%>&nbsp;&nbsp;&nbsp;
    <%end%>
    <%links << link_to('详情', activity)%>
    <%= links_with_sticks links%>
  </div>
  <div class="activity_icon">
    <%= official_team_image_link activity.official_match.host_team, :thumb=>:small, :class=>"host_icon" %>
    <div class="vs" title="V.S."></div>
    <%= official_team_image_link activity.official_match.guest_team, :thumb=>:small, :class=>"guest_icon" %>
  </div>
</div>
<%elsif activity.class == Match %>
<%belongs_to_both_teams = display_status && current_user.is_team_member_of?(activity.host_team_id) && current_user.is_team_member_of?(activity.guest_team_id)%>
<div class="activity match_activity <%= 'match_activity_wide' if belongs_to_both_teams%>">
  <div class="content">
    <%= link_to(h(activity.host_team_name), team_view_path(activity.host_team_id))%>
    V.S.
    <%= link_to(h(activity.guest_team_name), team_view_path(activity.guest_team_id))%>
    <br/><br/>
    <%= activity.start_time.strftime('%H:%M')%>-<%= activity.end_time.strftime('%H:%M')%>,
    <%= location_link activity.location, activity.football_ground_id%>
    <br/><br/>
    <%if !belongs_to_both_teams%>
      <%links = []%>
      <%if display_status%>
        <%if current_user.is_team_member_of?(activity.host_team)%>
          <%team = activity.host_team%>
        <%else%>
          <%team = activity.guest_team%>
        <%end%>
        <%= time_status_text activity%>, <%=  activity.join_status_text current_user, team%>&nbsp;&nbsp;&nbsp;
        <% links_text = activity.join_links_text current_user, team%>
        <%links << link_to(links_text[0], 
          match_joins_path(:team_id => team, :match_id => activity), :method=>:post) if activity.can_be_joined_by?(current_user, team)%>
        <%links << link_to(links_text[1], 
          match_join_path(0, :team_id => team, :match_id => activity), :method=>:delete) if activity.can_be_quited_by?(current_user, team)%>
      <%else%>
        <%= time_status_text activity%>&nbsp;&nbsp;&nbsp;
      <%end%>
      <%links << link_to('详情', activity)%>
      <%= links_with_sticks links%>
    <%else%>
      <%= time_status_text activity%>
      <%= link_to('详情', activity)%>
      <br/><br/>
    </div>
    <div class="content" style="width: 400px">
      <%[activity.host_team, activity.guest_team].each_with_index do |team, i|%>
        <%links = []%>
        <%= activity.sided_join_status_text current_user, team, "#{link_to h(team.shortname), team_view_path(team)}"%>&nbsp;&nbsp;&nbsp;
        <% links_text = activity.join_links_text current_user, team%>
        <%links << link_to(links_text[0], 
          match_joins_path(:team_id => team, :match_id => activity), :method=>:post) if activity.can_be_joined_by?(current_user, team)%>
        <%links << link_to(links_text[1], 
          match_join_path(0, :team_id => team, :match_id => activity), :method=>:delete) if activity.can_be_quited_by?(current_user, team)%>
        <%= links_with_sticks links%>
        <%= '<br/>' if i ==0%>
     <%end%>
    <%end%>
  </div>
  <div class="activity_icon">
    <%= team_image_link activity.host_team, :thumb=>:small, :class=>"host_icon" %>
    <div class="vs" title="V.S."></div>
    <%= team_image_link(activity.guest_team, :thumb=>:small, :class=>"guest_icon") %>
  </div>
</div>
<%end%>
