<%start_date = Date.new(year, month)%>
<div class="monthCalendar">
<div class="monthAndYear">
  <%= month_calendar_link image_tag('prev.jpg'), start_date.last_month%>
  <span><%= start_date.strftime("%Y-%m")%></span>
  <%= month_calendar_link image_tag('next.jpg'), start_date.next_month%>
</div>
<div class="clearBoth"></div>
<div>
  <div class="weekDayDiv"><span class="weekDaySpan">日</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">一</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">二</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">三</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">四</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">五</span></div>
  <div class="weekDayDiv"><span class="weekDaySpan">六</span></div>
  <%end_date = start_date.next_month.yesterday%>
  <%start_date = start_date.monday.yesterday if start_date.wday>0%>
  <%end_date = end_date.monday.next_week.yesterday.yesterday if end_date.wday<6%>
  <%date = start_date%>
  <% while date<=end_date do %>
    <div class="monthDayDiv <%= date == Date.today ? "currentDayDiv" : "" %>">
      <div class="monthDayTopDiv">
        <span class="monthDaySpan <%= date.month != month ? "otherMonthDaySpan" : "" %>">
          <%= month_day_link(date.day, date)%>
        </span>
      </div>
      <div class="monthDayBottomDiv">
        <% dts = trainings[date.strftime("%Y-%m-%d")] %>
        <% if !dts.nil?%>
        <% dts.each do |t| %>
          <%= link_to '训练', training_view_path(t)%>
        <%end%>
        <%end%>
      </div>
    </div>
  <% date = date.tomorrow %>
  <%end%>
</div>
</div>