<div class="calendar">
  <%3.times do |i|%>
  <%tmp_length = 0 %>
  <%if trainings[date.strftime("%Y-%m-%d")] != nil %>
    <%tmp_length = trainings[date.strftime("%Y-%m-%d")].length%>
  <%end%>
  <div class="normalDateDiv bigDateDiv <%= tmp_length > 2 ? 'hasManyActivitiesDiv' : (tmp_length > 0 ? 'hasActivityDiv' : '')%>">
    <div class="bigMonthDayDiv">
      <span class="bigMonthDaySpan"><%=day_calendar_link(date.day, date, @user || @team)%></span>
      <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
    </div>
    <div class="dateContent">
      <% dts = trainings[date.strftime("%Y-%m-%d")] %>
      <% if !dts.nil?%>
      <% dts.slice(0,3).each do |t| %>
        <div class="trainingContentSpan">
          <%= link_to image_tag('training_icon.gif'), training_view_path(t)%>
          <%= "#{t.start_time.strftime("%H:%M")}-#{t.end_time.strftime("%H:%M")}"%>
          <%= link_to '训练', training_view_path(t)%>
        </div>
      <%end%>
      <%= day_calendar_link(">> 更多", date, @user || @team, :class=>"more") if dts.length > 3%>
      <%end%>
    </div>
  </div>
  <%if i==1%>
    <div class="normalDateDiv monthAndYearDiv">
      <%= month_calendar_link(date.strftime("%Y-%m"), date, @user || @team)%>
    </div>
  <%end%>
  <% date = date.tomorrow %>
  <%end%>
  <%15.times do |i|%>
    <%tmp_length = 0 %>
    <%if trainings[date.strftime("%Y-%m-%d")] != nil %>
      <%tmp_length = trainings[date.strftime("%Y-%m-%d")].length%>
    <%end%>
    <div class="normalDateDiv <%= tmp_length > 3 ? 'hasManyActivitiesDiv' : (tmp_length > 0 ? 'hasActivityDiv' : '')%>">
      <div class="bigMonthDayDiv">
        <span class="bigMonthDaySpan"><%=day_calendar_link(date.day, date, @user || @team)%></span>
        <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
      </div>
      <div class="dateContent">
        <% dts = trainings[date.strftime("%Y-%m-%d")] %>
        <% if !dts.nil?%>
        <% dts.slice(0..6).each do |t| %>
          <span class="trainingContentSpan">
            <%= link_to image_tag('training_icon.gif'), training_view_path(t)%>
          </span>
        <%end%>
        <%= day_calendar_link(">> 更多", date, @user || @team, :class=>"more") if dts.length > 6%>
        <%end%>
      </div>
    </div>
    <% date = date.tomorrow %>
  <%end%>
</div>