<div class="calendar">
  <%2.times do |i|
    act_a_day = activities[date.strftime("%Y-%m-%d")].nil? ? [] : 
        (activities[date.strftime("%Y-%m-%d")].sort_by{|t| t.start_time}) %>
    <div class="normalDateDiv <%= act_a_day.length > 2 ? 'hasManyActivitiesDiv' : (act_a_day.length > 0 ? 'hasActivityDiv' : '')%>">
      <div class="bigMonthDayDiv">
        <span class="bigMonthDaySpan"><%=day_calendar_link(date.day, date, @user || @team)%></span>
        <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
      </div>
      <div class="dateContent">
        <%act_a_day.slice(0, 6).each do |act|%>
          <span class="activityContent"><%= activity_icon(act)%></span>
        <%end%>
        <%= day_calendar_link("> 更多", date, @user || @team, :class=>"more") if act_a_day.length > 6%>
      </div>
    </div>
    <% date = date.tomorrow %>
  <%end%>
  <%3.times do |i|
    act_a_day = activities[date.strftime("%Y-%m-%d")].nil? ? [] : 
        (activities[date.strftime("%Y-%m-%d")].sort_by{|t| t.start_time}) %>
    <div class="normalDateDiv bigDateDiv <%= act_a_day.length > 2 ? 'hasManyActivitiesDiv' : (act_a_day.length > 0 ? 'hasActivityDiv' : '')%> <%= "todayDateDiv" if date.to_date == Date.today%>">
      <div class="bigMonthDayDiv">
        <span class="bigMonthDaySpan"><%=day_calendar_link(date.day, date, @user || @team)%></span>
        <span class="bigWeekDaySpan">
          <%=wday_text date.wday%></span>
        <%if date.to_date == Date.today%>
          <span class="todaySpan">- 今日</span>
        <%end%>
      </div>
      <div class="dateContent">
        <table class="activityContent">
        <%act_a_day.slice(0, 3).each do |act|%>
            <tr>
              <td><%= activity_icon(act)%></td>
              <td><%= "#{act.start_time.strftime("%H:%M")}-#{act.end_time.strftime("%H:%M")}"%></td>
              <td><%= link_to '详情', act%></td>
           </tr>
        <%end%>
        </table>
        <%= day_calendar_link("> 更多", date, @user || @team, :class=>"more") if act_a_day.length > 3%>
      </div>
    </div>
    <%if i==0%>
      <div class="normalDateDiv monthAndYearDiv">
        <%= month_calendar_link(date.strftime("%Y-%m"), date, @user || @team || @official_team)%><br/>
        <%= icalendar_path "#{image_tag('ical.gif')}",  @user || @team, :class=>"icalendar", :title=>"iCalendar"%>
      </div>
    <%end%>
    <% date = date.tomorrow %>
  <%end%>
  <%(days-6).times do |i|
    act_a_day = activities[date.strftime("%Y-%m-%d")].nil? ? [] : 
        (activities[date.strftime("%Y-%m-%d")].sort_by{|t| t.start_time}) %>
    <div class="normalDateDiv <%= act_a_day.length > 2 ? 'hasManyActivitiesDiv' : (act_a_day.length > 0 ? 'hasActivityDiv' : '')%>">
      <div class="bigMonthDayDiv">
        <span class="bigMonthDaySpan"><%=day_calendar_link(date.day, date, @user || @team)%></span>
        <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
      </div>
      <div class="dateContent">
        <%act_a_day.slice(0, 6).each do |act|%>
          <span class="activityContent">
            <%= activity_icon(act)%>
          </span>
        <%end%>
        <%= day_calendar_link("> 更多", date, @user || @team, :class=>"more") if act_a_day.length > 6%>
      </div>
    </div>
    <% date = date.tomorrow %>
  <%end%>
</div>