<div class="calendar">
  <%3.times do |i|%>
  <%tmp_length = 0 %>
  <%if trainings[date.strftime("%Y-%m-%d")] != nil %>
    <%tmp_length = trainings[date.strftime("%Y-%m-%d")].length%>
  <%end%>
  <div class="normalDateDiv bigDateDiv <%= tmp_length > 2 ? 'hasManyActivitiesDiv' : (tmp_length > 0 ? 'hasActivityDiv' : '')%>">
    <div class="bigMonthDayDiv">
      <span class="bigMonthDaySpan"><%=month_day_link(date.day, date)%></span>
      <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
    </div>
    <div style="width:100%; margin:5px;">
      <% dts = trainings[date.strftime("%Y-%m-%d")] %>
      <% if !dts.nil?%>
      <% dts.each do |t| %>
        <span class="trainingContentSpan">
          <%= "#{t.start_time.strftime("%H:%M")}-#{t.end_time.strftime("%H:%M")}"%>
          <%= link_to '训练', training_view_path(t)%>
        </span>
      <%end%>
      <%end%>
    </div>
  </div>
  <%if i==1%>
    <div class="normalDateDiv monthAndYearDiv">
      <%= month_calendar_link(date.strftime("%Y-%m"), date)%>
    </div>
  <%end%>
  <% date = date.tomorrow %>
  <%end%>
  <%15.times do |i|%>
    <%tmp_length = 0 %>
    <%if trainings[date.strftime("%Y-%m-%d")] != nil %>
      <%tmp_length = trainings[date.strftime("%Y-%m-%d")].length%>
    <%end%>
    <div class="normalDateDiv <%= tmp_length > 3 ? 'hasManyActivitiesDiv' : (tmp_length > 0 ? 'hasActivityDiv' : '')%>">
      <div class="bigMonthDayDiv">
        <span class="bigMonthDaySpan"><%=month_day_link(date.day, date)%></span>
        <span class="bigWeekDaySpan"><%=wday_text date.wday%></span>
      </div>
      <div style="width:100%; margin:5px;">
        <% dts = trainings[date.strftime("%Y-%m-%d")] %>
        <% if !dts.nil?%>
        <% dts.each do |t| %>
          <span class="trainingContentSpan">
            <%= link_to '训练', training_view_path(t)%>
          </span>
        <%end%>
        <%end%>
      </div>
    </div>
    <% date = date.tomorrow %>
  <%end%>
</div>