<div>

<h1><%=team.name%>的参赛信息</h1>

<%if current_user.is_team_admin_of?(team.id) %>
  <%=link_to "编辑本队阵型", edit_match_join_path(0, :match_id=>match.id, :team_id=>team.id) %>
  <%if match.is_after_match_and_bofore_match_close?%>
    <%=link_to "填写比赛结果", edit_match_path(match.id,:team_id=>team.id) %>
  <%end%> 
<%end%>

  <table>
    <th>本场位置</th>
    <th>队员</th>
    <th>参赛状态</th>
    <%for mj in player_mjs%>
     <tr>
        <td><%= fomation_position_text(mj.position)%></td>
        <td><%= render(:partial => 'shared/user_icon', :object => mj.user)%></td>
        <td><%= status_text(mj.status)%></td>

        <%if current_user.id == mj.user_id && mj.match.is_before_match?%>
          <%if mj.status == MatchJoin::UNDETERMINED %>
            <td><%=link_to "代表"+team.name+"参加本场比赛", match_join_path(mj,:match_join=>{:status=>MatchJoin::JOIN},:team_id=>team.id),:method=>'PUT'%></td>
            <td><%=link_to "不代表"+team.name+"参加本场比赛", match_join_path(mj),:method=>'DELETE'%></td>
          <%else%>
              <td><%=link_to "不代表"+team.name+"参加本场比赛", match_join_path(mj), :method=>'DELETE'%></td>
          <%end%> 
        <%end%> 
      </tr>
    <%end%>

    <%blank_num = match.size - player_mjs.size%>
    <%while blank_num > 0%>
       <tr>
          <td>?</td>
          <td>?</td>
          <td>?</td>
        </tr>
      <%blank_num = blank_num-1%>
    <%end%>      
  </table>
  
  <h2>所有队员</h2>
  <%= render(:partial => 'shared/user_icon', :collection => user_mjs.map{|item| item.user})%>

</div>