<%if !logged_in?%>
<div id="welcome">
  <%= image_tag('wf_light.gif', :title=>'wefootball')%>
  <div class="title">&nbsp;&nbsp;- 让我们一起，以足球的名义</div>
  <div class="cb"></div>
	<div class="exp">
    WeFootball可以帮助你和你的球队方便地安排、记录比赛训练<br/><br/>你在这里也可以找到一块儿踢球的朋友
  </div>
</div>
<%end%>
<div class="cb"></div>
<div id="left_content">
  <div class="sect">
    <h2>WeFootball公告</h2>    
    <div class="notification">
      <%= link_to '了解一下WeFootball能做些什么？', site_help_path%>
      <br/><br/>
      WeFootball<%= link_to '帮助', site_help_path%>和<%= link_to '常见问题', site_faq_path%>上线 - 04.29
      <br/><br/>
      WeFootball上线试运行 - 04.24
    </div>
  </div>

  <div class="sect">
    <h2>最近加入的用户</h2>    
    <%= user_icon(@users)%>
    <div class="cb"></div>
  </div>

  <div class="sect">
    <h2>最近建立的球队</h2>    
    <%= team_icon(@teams)%>
    <div class="cb"></div>
  </div>
</div>

<div id="right_content">
  <div class="sect">
    <h2>最近添加的活动</h2>
    <%= render :partial => 'shared/activities', :object => @activities, :locals=>{:start_date=> @start_time, :end_date=> @end_time}%>
  </div>
</div>
<div class="cb"></div>
