<ul class="sidebar_menu">
  <li <%= selected_class_sidebar_menu_item(:action=>'index', :boolean=>params[:as]!='send')%>>
  > <%=link_to '需要处理的比赛邀请', team_match_invitations_path(@team)%>
  </li>
  <li <%= selected_class_sidebar_menu_item(:action=>'index', :boolean=>params[:as]=='send')%>>
  > <%=link_to '等待对方回复的比赛邀请', team_match_invitations_path(@team, :as => 'send')%>
  </li>
  <li class='seperate'>
  </li>
  <li>
    > <%= link_to "返回球队首页", team_view_path(@team) %>
  </li>
</ul>
