<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menu'%>
</div>

<div id="wide_left_content" class="sect">
  <h2><%= h @title%></h2>
  <table class="list">
    <% @mis.each do |mi|%>
      <%
        self_team = @team
        another_team = @team == mi.host_team ? mi.guest_team : mi.host_team
      %>
      <tr>
        <td><%= team_icon(self_team)%></td>
        <td style="width:100%">
          <table class="match_invitation_list">
            <tr>
              <td>
                <%= mi.host_team == @team ? '本队' : '对方'%>
                <%=link_to h(mi.host_team.shortname), team_view_path(mi.host_team)%>
              </td>
            </tr>
            <tr>
              <td>
                邀请发出，等待<%=link_to h(another_team.shortname), team_view_path(another_team)%>回复
              </td>
            </tr>
            <%msg = @team == mi.host_team ? mi.guest_team_message: mi.host_team_message%>
            <%if !msg.blank?%>
            <tr>
              <td>
                我队的留言:
                <%= h msg%>
              </td>
            </tr>
          <%end%>
          </table>
          <br/>
          <table class="match_invitation_list">
            <tr>
              <td style="width:60px">&nbsp;</td>
              <td>我队提出的新建议</td>
              <td>对方上次提出的建议</td>
            </tr>
            <%= macth_invitation_comparison_tr(mi, '时间', :start_time){ |t| 
              %(#{t.strftime('%Y-%m-%d %H:%M')}
                #{"(已过期)" if mi.outdated?}
              )
            }%>
            <%= macth_invitation_comparison_tr(mi, '地点', :location){ |t| h t}%>
            <%= macth_invitation_comparison_tr(mi, '比赛性质', :match_type){ |t| match_type_text t}%>
            <%= macth_invitation_comparison_tr(mi, '人数', :size){ |t| "#{t}人制"}%>
            <%= macth_invitation_comparison_tr(mi, '半场时长', :half_match_length){ |t| "#{t}分钟"}%>
            <%= macth_invitation_comparison_tr(mi, '中间休息', :rest_length){ |t| "#{t}分钟"}%>
            <%= macth_invitation_comparison_tr(mi, '裁判', :has_judge){ |t| t ? '有' : '没有'}%>
            <%= macth_invitation_comparison_tr(mi, '红黄牌', :has_card){ |t| t ? '有' : '没有'}%>
            <%= macth_invitation_comparison_tr(mi, '越位', :has_offside){ |t| t ? '有' : '没有'}%>
            <%= macth_invitation_comparison_tr(mi, '平局后', :win_rule){ |t| win_rule_text t}%>
          </table>
        </td>
        <td><%= team_icon(another_team)%></td>
      </tr>
    <%end%>
  </table>
</div>

<div class="clearBoth"></div>