<h1>Listing match_invitations</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>Location</th>
    <th>Match type</th>
    <th>Size</th>
    <th>Has judge</th>
    <th>Has card</th>
    <th>Has offside</th>
    <th>Win rule</th>
    <th>Description</th>
    <th>Half match length</th>
    <th>Rest length</th>
    <th>Host team leader</th>
    <th>Guest team leader</th>
    <th>Host team</th>
    <th>Guest team</th>
    <th>Edit by host team</th>
    <th>New start time</th>
    <th>New location</th>
    <th>New match type</th>
    <th>New size</th>
    <th>New has judge</th>
    <th>New has card</th>
    <th>New has offside</th>
    <th>New win rule</th>
    <th>New description</th>
    <th>New half match length</th>
    <th>New rest length</th>
    <th>New host team leader</th>
    <th>New guest team leader</th>
  </tr>

<% for match_invitation in @match_invitations %>
  <tr>
    <td><%=h match_invitation.start_time %></td>
    <td><%=h match_invitation.location %></td>
    <td><%=h match_invitation.match_type %></td>
    <td><%=h match_invitation.size %></td>
    <td><%=h match_invitation.has_judge %></td>
    <td><%=h match_invitation.has_card %></td>
    <td><%=h match_invitation.has_offside %></td>
    <td><%=h match_invitation.win_rule %></td>
    <td><%=h match_invitation.description %></td>
    <td><%=h match_invitation.half_match_length %></td>
    <td><%=h match_invitation.rest_length %></td>
    <td><%=h match_invitation.host_team_leader_id %></td>
    <td><%=h match_invitation.guest_team_leader_id %></td>
    <td><%=h match_invitation.host_team_id %></td>
    <td><%=h match_invitation.guest_team_id %></td>
    <td><%=h match_invitation.edit_by_host_team %></td>
    <td><%=h match_invitation.new_start_time %></td>
    <td><%=h match_invitation.new_location %></td>
    <td><%=h match_invitation.new_match_type %></td>
    <td><%=h match_invitation.new_size %></td>
    <td><%=h match_invitation.new_has_judge %></td>
    <td><%=h match_invitation.new_has_card %></td>
    <td><%=h match_invitation.new_has_offside %></td>
    <td><%=h match_invitation.new_win_rule %></td>
    <td><%=h match_invitation.new_description %></td>
    <td><%=h match_invitation.new_half_match_length %></td>
    <td><%=h match_invitation.new_rest_length %></td>
    <td><%=h match_invitation.new_host_team_leader_id %></td>
    <td><%=h match_invitation.new_guest_team_leader_id %></td>
    <td><%= link_to 'Show', match_invitation %></td>
    <td><%= link_to 'Edit', edit_match_invitation_path(match_invitation) %></td>
    <td><%= link_to 'Destroy', match_invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match_invitation', new_match_invitation_path %>
