<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menu'%>
</div>

<div id="wide_left_content" class="sect">
  <h2><%= h @title%></h2>
  <table class="list">
    <% @mis.each do |mi|%>
      <tr>
        <td><%= render(:partial => 'shared/team_icon', :object => mi.host_team)%></td>
        <td style="width:100%">
          <table class="match_invitation_list">
          <tr>
            <td style="width:60px">发起队</td>
            <td>
              <%= mi.host_team == @team ? '本队' : '对方'%>
              <%=link_to h(mi.host_team.shortname), team_view_path(mi.host_team)%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">状态</td>
            <td>
              <% another_team = mi.edit_by_host_team ? mi.guest_team : mi.host_team%>
              <%=link_to h(another_team.shortname), team_view_path(another_team)%>修改了比赛邀请，等待我队的回复
            </td>
          </tr>
          <tr>
            <td style="width:60px">时间</td>
            <td>
              <%= mi.new_start_time.strftime('%Y-%m-%d %H:%M')%>
              <%if mi.has_attribute_been_modified?(:start_time)%>
                <div class="conflict">(我队上次的设定是: <%= mi.start_time.strftime('%Y-%m-%d %H:%M') %>)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">地点</td>
            <td>
              <%= h mi.new_location%>
              <%if !mi.location.blank? && mi.has_attribute_been_modified?(:location)%>
                <div class="conflict">(我队上次的设定是: <%=h mi.location %>)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">比赛性质</td>
            <td>
              <%= match_type_text mi.new_match_type%>
              <%if mi.has_attribute_been_modified?(:match_type)%>
                <div class="conflict">(我队上次的设定是: <%= match_type_text mi.match_type %>)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">人数</td>
            <td>
              <%= mi.new_size%>人制
              <%if mi.has_attribute_been_modified?(:size)%>
                <div class="conflict">(我队上次的设定是: <%= mi.size %>人制)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">半场时长</td>
            <td>
              <%= mi.new_half_match_length%>分钟
              <%if mi.has_attribute_been_modified?(:half_match_length)%>
                <div class="conflict">(我队上次的设定是: <%= mi.half_match_length %>分钟)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">中间休息</td>
            <td>
              <%= mi.new_rest_length%>分钟
              <%if mi.has_attribute_been_modified?(:rest_length)%>
                <div class="conflict">(我队上次的设定是: <%= mi.rest_length %>分钟)</div>
              <%end%>
            </td>
          </tr>
          <tr>
            <td style="width:60px">其他规则</td>
            <td>
              <ul>
                <li>
                  <%= mi.new_has_judge ? '有' : '没有'%>裁判
                  <%if mi.has_attribute_been_modified?(:has_judge)%>
                    <div class="conflict">(我队上次的设定是: <%= mi.has_judge ? '有' : '没有'%>裁判)</div>
                  <%end%>
                </li>
                <li>
                  <%= mi.new_has_card ? '有' : '没有'%>红黄牌
                  <%if mi.has_attribute_been_modified?(:has_card)%>
                    <div class="conflict">(我队上次的设定是: <%= mi.has_card ? '有' : '没有'%>红黄牌)</div>
                  <%end%>
                </li>
                <li>
                  <%= mi.new_has_offside ? '有' : '没有'%>越位
                  <%if mi.has_attribute_been_modified?(:has_offside)%>
                    <div class="conflict">(我队上次的设定是: <%= mi.has_offside ? '有' : '没有'%>越位)</div>
                  <%end%>
                </li>
                <li>
                  平局后<%= win_rule_text mi.new_win_rule%>
                  <%if mi.has_attribute_been_modified?(:win_rule)%>
                    <div class="conflict">(我队上次的设定是: <%=win_rule_text mi.win_rule%>)</div>
                  <%end%>
                </li>
              </ul>
            </td>
          </tr>
          <%msg = mi.edit_by_host_team ? mi.guest_team_message: mi.host_team_message%>
          <%if !msg.blank?%>
          <tr>
            <td style="width:60px">对方留言</td>
            <td>
              
              <%= h msg%>
            </td>
          </tr>
          <%end%>
          </table>
          <div style="margin: 10px 0 10px 10px">
            <%=link_to '接受邀请', matches_path(:id=>mi.id), :method=>:post%>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%=link_to "拒绝邀请", match_invitation_path(mi),:method=>:delete%>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%=link_to '进行协商', edit_match_invitation_path(mi)%>
          </div>
        </td>
        <td><%= render(:partial => 'shared/team_icon', :object => mi.guest_team)%></td>
      </tr>
    <%end%>
  </table>
</div>

<div class="clearBoth"></div>