<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to '返回球队首页', team_view_path(@team) %>
    </li>
  </ul>
</div>

<div id="wide_left_content" class="sect">
    <h2><%=h @title%></h2>
  <%if @host_teams.empty?%>
    <div class="notification">
      你暂时没有其他管理的球队, 因此无法邀请<%=link_to h(@guest_team.shortname), team_view_path(@guest_team)%>进行比赛<br/><br/>
      <%= link_to "你可以点击这里创建自己的球队", new_team_path(:back_uri=>new_match_invitation_path(:guest_team_id=>@guest_team.id))%>
    </div>
  <%else%>
    
    <div class="notification">
       选定球队后, 你会以该队管理员的身份向<%=link_to h(@guest_team.shortname), team_view_path(@guest_team)%>提出约战
    </div>
    <%for t in @host_teams%>
      <div class="icon">
        <%=link_to team_image_tag(t, :thumb=>:small), new_match_invitation_path(:host_team_id=>t.id, :guest_team_id=>@guest_team.id)%>
        <span><%=link_to h(t.shortname), new_match_invitation_path(:host_team_id=>t.id, :guest_team_id=>@guest_team.id)%></span>
      </div>
    <%end%>
  <%end%>
</div>

<div class="cb"></div>
