<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to '返回球队首页', team_view_path(@team) %>
    </li>
  </ul>
</div>

<div id="wide_left_content" class="sect">
    <h2><%=h @title%></h2>
  <%if @host_teams.empty?%>
    <div class="notification">
      你没有管理其他球队, 无法约战<%=link_to h(@guest_team.shortname), team_view_path(@guest_team)%><br/><br/>
      <%= link_to "创建你的球队", new_team_path(:back_uri=>new_match_invitation_path(:guest_team_id=>@guest_team.id))%>
    </div>
  <%else%>
    
    <div class="notification">
       选择球队约战<%=link_to h(@guest_team.shortname), team_view_path(@guest_team)%>
    </div>
    <%for t in @host_teams%>
      <div class="icon">
        <%=link_to team_image_tag(t, :thumb=>:small), new_match_invitation_path(:host_team_id=>t.id, :guest_team_id=>@guest_team.id)%>
        <span><%=link_to h(t.shortname), new_match_invitation_path(:host_team_id=>t.id, :guest_team_id=>@guest_team.id)%></span>
      </div>
    <%end%>
  <%end%>
</div>

<div class="cb"></div>
