<p>
  <b>Start time:</b>
  <%=h @match_invitation.start_time %>
</p>

<p>
  <b>Location:</b>
  <%=h @match_invitation.location %>
</p>

<p>
  <b>Match type:</b>
  <%=h @match_invitation.match_type %>
</p>

<p>
  <b>Size:</b>
  <%=h @match_invitation.size %>
</p>

<p>
  <b>Has judge:</b>
  <%=h @match_invitation.has_judge %>
</p>

<p>
  <b>Has card:</b>
  <%=h @match_invitation.has_card %>
</p>

<p>
  <b>Has offside:</b>
  <%=h @match_invitation.has_offside %>
</p>

<p>
  <b>Win rule:</b>
  <%=h @match_invitation.win_rule %>
</p>

<p>
  <b>Description:</b>
  <%=h @match_invitation.description %>
</p>

<p>
  <b>Half match length:</b>
  <%=h @match_invitation.half_match_length %>
</p>

<p>
  <b>Rest length:</b>
  <%=h @match_invitation.rest_length %>
</p>

<p>
  <b>Host team leader:</b>
  <%=h @match_invitation.host_team_leader_id %>
</p>

<p>
  <b>Guest team leader:</b>
  <%=h @match_invitation.guest_team_leader_id %>
</p>

<p>
  <b>Host team:</b>
  <%=h @match_invitation.host_team_id %>
</p>

<p>
  <b>Guest team:</b>
  <%=h @match_invitation.guest_team_id %>
</p>

<p>
  <b>Edit by host team:</b>
  <%=h @match_invitation.edit_by_host_team %>
</p>

<p>
  <b>New start time:</b>
  <%=h @match_invitation.new_start_time %>
</p>

<p>
  <b>New location:</b>
  <%=h @match_invitation.new_location %>
</p>

<p>
  <b>New match type:</b>
  <%=h @match_invitation.new_match_type %>
</p>

<p>
  <b>New size:</b>
  <%=h @match_invitation.new_size %>
</p>

<p>
  <b>New has judge:</b>
  <%=h @match_invitation.new_has_judge %>
</p>

<p>
  <b>New has card:</b>
  <%=h @match_invitation.new_has_card %>
</p>

<p>
  <b>New has offside:</b>
  <%=h @match_invitation.new_has_offside %>
</p>

<p>
  <b>New win rule:</b>
  <%=h @match_invitation.new_win_rule %>
</p>

<p>
  <b>New description:</b>
  <%=h @match_invitation.new_description %>
</p>

<p>
  <b>New half match length:</b>
  <%=h @match_invitation.new_half_match_length %>
</p>

<p>
  <b>New rest length:</b>
  <%=h @match_invitation.new_rest_length %>
</p>

<p>
  <b>New host team leader:</b>
  <%=h @match_invitation.new_host_team_leader_id %>
</p>

<p>
  <b>New guest team leader:</b>
  <%=h @match_invitation.new_guest_team_leader_id %>
</p>


<%= link_to 'Edit', edit_match_invitation_path(@match_invitation) %> |
<%= link_to 'Back', match_invitations_path %>
