<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%= error_messages_for :watch %>
  
  <% form_for @watch do |f| -%>
    <%= f.hidden_field :official_match_id,  :value=>@official_match.id%>
    <%= render :partial => "form", :locals=>{:f=> f}%>
    <p><%= submit_tag '创建' %></p>
  <% end -%>
</div>
  
<div class="cb"></div>