<div class="sect">
  <h2><%=h team.shortname%></h2>
  <%= small_team_image_link team, :class=>'icon title_icon'%>
  <%if logged_in? %>
    <%=link_to "编辑阵型", edit_match_join_path(0, :match_id=>match.id, :team_id=>team.id) if @match.can_be_edited_formation_by?(current_user, team)%>
    <br/><br/>
    <%if @match.can_be_edited_result_by?(current_user, team)%>
      <%=link_to "填写赛果", edit_team_match_path(team, match) %>
      <br/><br/>
    <%end%>
    <%if @match.can_be_destroyed_by?(current_user)%>
      <%=link_to "取消比赛", match_path(@match), :method => :delete, :confirm => '真的要取消这场比赛吗？' %>
      <br/><br/>
    <%end%>
    <%links = []%>
    <%links << link_to("代表该队参赛", 
        match_joins_path(:team_id => team, :match_id => @match), :method=>:post) if @match.can_be_joined_by?(current_user, team)%>
    <%links << link_to("不代表该队参赛", 
        match_join_path(0, :team_id => team, :match_id => @match), :method=>:delete) if @match.can_be_quited_by?(current_user, team)%>
    <%= links_with_sticks links%>
  <%end%>
  <div class="clearBoth"></div>
</div>

<div class="sect">
  <h2>首发</h2>
  <div class="match_field">
    <%= image_tag('match_small_field.jpg', :title=>"")%>
    <%team_player_mjs.each do |ut|%>
      <% pos = is_host_team ? 
       match_host_team_field_position(ut.position, formation_array) :
       match_guest_team_field_position(ut.position, formation_array) %>
      <%= link_to small_user_image_tag(ut.user,
        :style=>"left:#{pos[:left]}px;top:#{pos[:top]}px;",
        :title=>ut.user.nickname), user_view_path(ut.user), :class=>"resize_small_icon" %>
    <%end%>
  </div>
  <div class="clearBoth"></div>
</div>

<div class="sect">
  <table class="list" style="width:100%">
    <tr>
      <th>&nbsp;</th>
      <th style="width:80px">昵称</th>
      <th>位置</th>
      <th>惯用脚</th>
      <th>身高(cm)</th>
      <th>体重(kg)</th>
    </tr>
    <% (team_player_mjs).each do |ut| %>
      <tr>
        <td><%= tiny_user_image_link ut.user%></td>
        <td style="width:80px"><%= link_to truncate(h(ut.user.nickname), 12), user_view_path(ut.user)%></td>
        <td><%= formation_position_text ut.position %></td>
        <td><%= fitfoot_text ut.user.fitfoot %></td>
        <td><%= ut.user.height != nil ? ut.user.height : "未知" %></td>
        <td><%= ut.user.weight != nil ? ut.user.weight : "未知"  %></td>
      </tr>
    <%end%>
    <% tmp_user = User.new%>
    <%(match.size - team_player_mjs.size).times do%>
     <tr>
        <td><%= tiny_user_image_tag tmp_user, :title=>''%></td>
        <td style="width:80px">尚未选定</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
      </tr>
    <%end%>
  </table>
</div>

<div class="sect">   
  <h2><%=h team.shortname%>下的讨论</h2>
  <%= render :partial=>'posts/post_list', :object=>posts%>
  <div style="margin: 10px 0  0 10px;float:right;">
    <%links = []%>
    <%links << "> #{link_to '针对本场比赛发言', new_match_team_post_path(@match, team)}" if logged_in? && current_user.is_team_member_of?(team)%>
    <%links << "> #{link_to '更多',  match_team_posts_path(@match, team)}"%>
    <%= links_with_sticks links%>
  </div>
</div>