<div class="sect">
  <h2>首发名单</h2>
  <table class="list player_list">
    <tr>
      <th>&nbsp;</th>
      <th style="width:80px">昵称</th>
      <th style="width:60px">位置</th>
    </tr>
    <% (team_player_mjs).each do |ut| %>
      <tr>
        <td><%= tiny_user_image_link ut.user%></td>
        <td style="width:80px"><%= link_to h(ut.user.nickname), user_view_path(ut.user)%></td>
        <td style="width:60px"><%= formation_position_text ut.position %></td>
      </tr>
    <%end%>
    <%(@match.size - team_player_mjs.size).times do%>
     <tr>
        <td>&nbsp;</td>
        <td style="width:80px">尚未选定</td>
        <td>?</td>
      </tr>
    <%end%>
  </table>
  <div class="small_field">
    <%team_player_mjs.each do |ut|%>
      <% pos = team_field_position(ut.position, formation_array) %>
      <%= link_to small_user_image_tag(ut.user,
        :style=>"left:#{pos[:left]}px;top:#{pos[:top]}px;",
        :title=>ut.user.nickname), user_view_path(ut.user), :class=>"resize_small_icon" %>
    <%end%>
    <div class="clearBoth"></div>
  </div>
  <div class="clearBoth"></div>
</div>

<div class="sect">   
  <h2>讨论</h2>
  <%= render :partial=>'posts/post_list', :object=>posts%>
  <div style="margin: 10px 0  0 10px;float:right;">
    <%links = []%>
    <%links << "> #{link_to '针对本场比赛发言', new_match_team_post_path(@match, team)}" if logged_in? && current_user.is_team_member_of?(team)%>
    <%links << "> #{link_to '更多',  match_team_posts_path(@match, team)}"%>
    <%= links_with_sticks links%>
  </div>
</div>