<div id="left_content">
  <div class="sect">
    <h2>WeFootball公告</h2>    
    <div class="notification">
      <span style="font-weight:700">为身处灾区的同胞们祈福</span>
      <br/><br/>
      <span style="font-weight:700">面对灾害，我们心在一起</span>
      <hr />
      <%= link_to '了解一下WeFootball能做些什么？', site_about_path%>
      <br/><br/>
      WeFootball已<%= link_to "开放注册", new_user_path %> - 05.21
      <br/><br/>
      看球活动和球评功能上线测试 - 05.18
      <br/><br/>
      预告：<a href="http://blog.wefootball.org/2008/5/11/12">看球功能即将推出</a> - 05.11
      <br/><br/>
      <a href="http://blog.wefootball.org/2008/5/8/10">广播功能</a>上线 - 05.08
      <br/><br/>
      要给WeFootball提提建议？ 请到<%= link_to '站务论坛', site_posts_path%>留言
    </div>
  </div>

  <%if @history_official_matches.length > 0%>
    <div class="sect">
      <h2>过去<%= OfficialMatchesController::HISTORY_DAYS%>天内最受关注的比赛 <%=link_to "(更多比赛...)", history_official_matches_path%></h2>
      <%= render(:partial => 'official_matches/history_match_info', :collection => @history_official_matches)%>
    </div>
  <%end%>

  <div class="sect">
    <h2>最近加入的用户</h2>    
    <%= user_icon(@users)%>
    <div class="cb"></div>
  </div>

  <div class="sect">
    <h2>最近建立的球队</h2>    
    <%= team_icon(@teams)%>
    <div class="cb"></div>
  </div>
</div>

<div id="right_content">
  <%if @official_matches.length > 0%>
    <div class="sect">
      <h2>未来<%= OfficialMatchesController::RECENT_DAYS%>天内最受关注的比赛 <%=link_to "(更多比赛...)", official_matches_path%></h2>
      <%= render(:partial => 'official_matches/match_info', :collection => @official_matches)%>
    </div>
  <%end%>
  
  <%if @reviews.length > 0%>
    <div class="sect">
      <h2>近期最受欢迎的球评</h2>
      <%=render :partial=>'match_reviews/match_review_list_by_user', :object=>@reviews%>
    </div>
  <%end%>
  
  <div class="sect">
    <h2>最新的广播</h2>
    <%for bc in @bcs%>
      <%=broadcast_text(bc) %>
    <%end%>
    <div class='cb'></div>
  </div>

  <%if !@activities.empty?%>
    <div class="sect">
      <h2>最近要进行的活动</h2>
      <%= render :partial => 'shared/activities', :object => @activities, :locals=>{:start_date=> @start_time, :end_date=> @end_time}%>
    </div>
  <%end%>
</div>
<div class="cb"></div>
