<table class="list">
  <tr>
    <th style="width:15px">&nbsp;</th>
    <th>话题</th>
    <th>作者</th>
    <th style="width:30px">回复</th>
    <th style="width:100px; text-align:right">最后回复</th>
  </tr>

<% for post in post_list %>
  <tr>
    <td><%=post_icon_link post%></td>
    <td><%=link_to h(post.title), post_path(post)  %><%="<span class='private'>&nbsp;&nbsp;-&nbsp;&nbsp;(仅队内可见)</span>" if post.is_private%></td>
    <td><%=h post.user.nickname %></td>
    <td><%= post.replies.size %></td>
    <td><%= post.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
  </tr>
<% end %>
</table>