<h1>New post</h1>

<%= error_messages_for :post%>

<% form_for :post, :url=>new_post_path2 do |f| %>
  <p>
    <b>标题</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>只有本队队友可见</b><br />
    <%= f.check_box :is_private %>
  </p>
  <p>
    <b>内容</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
