<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%=render :partial=>'many_teams_post_list', :object=>@posts%>
  <%= will_paginate @posts %>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2></h2>
    <ul class="sidebar_menu">
      <li>
        > <%= smart_return_user_view_menu_item(@user) %>
      </li>
      <li class="seperate"></li>
    </ul>
  </div>
  <div class="sect">
    <h2>我参加的球队 <%= link_to "(更多球队...)",user_team_joins_path(@user.id) %></h2>    
    <%= team_icon(@teams)%>
    <div class="cb"></div>
  </div>
</div>
<div class="cb"></div>