<h1><%=h @post.title %></h1>

<div>
  <%=user_image_tag @post.user%>

  <%=h @post.created_at.strftime('%Y-%m-%d %H:%M:%S')%>

  来自<%=h @post.user.nickname%>
  <p>
    <b>Content:</b>
    <%=simple_format @post.content %>
  </p>

  <%= link_to '修改', edit_post_path(@post) if @post.can_be_modified_by?(current_user)%> |
  <%= link_to "删除", post_path(@post.id), :method=>"delete" if @post.can_be_destroyed_by?(current_user) %>
</div>

<% @post.replies.each do |reply|%>
  <div>
    <%=user_image_tag reply.user%>

    <%=h reply.created_at.strftime('%Y-%m-%d %H:%M:%S')%>

    来自<%=h reply.user.nickname%>
    <p>
      <b>Content:</b>
      <%=simple_format reply.content %>
    </p>

    <%= link_to "删除", post_reply_path(@post, reply.id), :method=>"delete" if reply.can_be_destroyed_by?(current_user) %>
  </div>
<% end %>

<%= error_messages_for :reply %>
  
<% form_for :reply, :url => post_replies_path(@post) do |f| %>
  <p>
    <b>内容</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "提交" %>
  </p>
<% end %>
