<div id="wide_left_content">
  <div class="sect">
    <h2><%=h @post.title %></h2>
    <%if @replies.current_page == 1%>
      <%= render(:partial => 'posts/post', :object => @post)%>
    <%end%>
    <%= render(:partial => 'posts/post', :collection => @replies, :locals => {:parent => @post})%>
    <%= will_paginate @replies %>
  </div>

<%if @can_reply%>
  <div class="sect cb">
    <h2>回复</h2>
    <%= error_messages_for :reply %>
    <br/>
    <% form_for :reply, :url => post_replies_path(@post, :page => @replies.current_page) do |f| %>
      <%= f.text_area :content, :rows=>10, :cols=>50 %>
      <br/><br/>
      <%= f.submit "提交" %>
    <% end %>
  </div>
<%end%>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2></h2>
    <%=render :partial=>'posts/sidebar_menu'%>
  </div>

  <div class="sect">
  <h2>其他话题</h2>
  <%= render :partial=>'posts/narrow_post_list', :object=>@related_posts%>
  </div>
</div>
<div class="cb"></div>