<h1>Listing site_replies</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th>Email</th>
  </tr>

<% for site_reply in @site_replies %>
  <tr>
    <td><%=h site_reply.content %></td>
    <td><%=h site_reply.post_id %></td>
    <td><%=h site_reply.user_id %></td>
    <td><%=h site_reply.email %></td>
    <td><%= link_to 'Show', site_reply %></td>
    <td><%= link_to 'Edit', edit_site_reply_path(site_reply) %></td>
    <td><%= link_to 'Destroy', site_reply, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site_reply', new_site_reply_path %>
