<p>
  <b>Content:</b>
  <%=h @site_reply.content %>
</p>

<p>
  <b>Post:</b>
  <%=h @site_reply.post_id %>
</p>

<p>
  <b>User:</b>
  <%=h @site_reply.user_id %>
</p>

<p>
  <b>Email:</b>
  <%=h @site_reply.email %>
</p>


<%= link_to 'Edit', edit_site_reply_path(@site_reply) %> |
<%= link_to 'Back', site_replies_path %>
