<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <table class="list">
    <tr>
      <th style="width:70px">&nbsp;</th>
      <th style="width:70px">申请时间</th>
      <th style="width:300px">留言</th>
      <th style="width:100px">&nbsp;</th>
    </tr>
    <% for req in @requests %>
      <tr>
        <td><%= user_image_link req.user, :thumb => :small%></td>
        <td><%=req.apply_date.to_s(:db) %></td>
        <td>
          <%= link_to h(req.user.nickname), user_view_path(req.user) %>申请加入<%= link_to h(req.team.shortname), team_view_path(req.team) %>
          <br/><br/>
          <%if !req.message.blank?%>
            <%= req.user.gender_text%>的留言:
            <%= h(req.message) %>
            <br/><br/>
          <%end%>
        </td>
        <td>
          <%= button_to '同意', team_joins_path(:id=>req.id, :back_uri => request.request_uri), :method => :post %>
          <%= button_to '拒绝', team_join_request_path(req.id), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @requests %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/team_view_team_and_management'%>
</div>
<div class="cb"></div>