<h1>申请加入<%=h @team.shortname%>的用户</h1>

<% for req in @requests %>
  <div>
    <%= render :partial => "shared/user_icon", :object => req.user%>
    <span>申请日期: <%= req.apply_date.to_s(:db) %></span><br/>
    <%if !req.message.nil? && !req.message.blank?%>
      <span>留言: </span>
      <p><%=simple_format req.message%></p>
    <%end%>
    <%= link_to '接受', team_joins_path(:id=>req.id, :back_uri => request.request_uri), :method => :post %>
    <%= link_to '拒绝', team_join_request_path(req.id), :method => :delete %>
  </div>
<% end %>