<div>
<%if logged_in?%>
  <%= render(:partial => 'shared/team_menu', :locals => {:team => @team})%>
<%end%>
</div>

<h1><%=h @team.shortname%></h1>
<%= team_image_tag @team%>

<div>
<%= "<span>建队时间: #{@team.found_time}</span><br/>" unless @team.found_time.nil?%>
<%= "<span>球队全名: #{@team.name}</span><br/>" unless @team.name.blank?%>
<%= "<span>球队风格: #{@team.style}</span><br/>" unless @team.style.blank?%>
<%if !@team.summary.nil? && !@team.summary.blank?%>
    <label>球队简介：</label>
    <p><%=simple_format auto_link(@team.summary, :urls)%></p>
<%end%>
</div>

<div>
<%if logged_in? %>
<%if current_user.is_team_member_of?(@team)%>
  <%= link_to("退出球队", team_join_path(@user_team.id),:method=>:delete)%>
<%else%>
  <%= link_to("申请加入球队", 'javascript:void(0);')%>
  <% form_for :team_join_request, :url => team_join_requests_path, :method=>"POST" do |f| %>
    <%= f.hidden_field :team_id,  :value=>@team.id%> 
    <span>留言</span><br />
    <%= f.text_area :message %>
    <%= f.submit "申请" %>
  <% end %>
<%end%>
<%end%>
</div>
      
<h1><%=h @team.shortname%>的成员</h1>
<%= render(:partial => 'shared/user_icon', :collection => @users)%>

<h1><%=h @team.shortname%>最近的训练</h1>
<%= render(:partial => 'shared/training_list', :object => @trainings)%>

<h1><%=h @team.shortname%>下的讨论</h1>
<%= render(:partial => 'shared/post_list', :object => @posts)%>

<br />
<%= link_to '发言', new_team_post_path(@team) %>