<%content_for(:javascript) do%>
  <%= javascript_include_tag "jquery.dimensions.js" %>
  <%= javascript_include_tag "ui.mouse.js" %>
  <%= javascript_include_tag "ui.dialog.js" %>
<%end%>

<%content_for(:stylesheet) do%>
  <%= stylesheet_link_tag 'calendar' %>
  <%= stylesheet_link_tag 'activityitem' %>
<%end%>

<h1><%=h @title%></h1>
<div id="left_content">
<div class="seperateLine"></div>

<div class="tab_container" style="margin:10px 0 10px 0">
  <span class="tab_link" style="margin-left: 10px;">队伍信息</span>
  
  <span style="margin:70px;">
  <%if logged_in? %>
  <%if current_user.is_team_member_of?(@team)%>
    <%= link_to(image_tag("quitFromTeam.gif", :title=>"退出球队", :class=>"shortcut_icon"), team_join_path(@user_team.id),:method=>:delete)%>
  <%else%>
    <%= link_to(image_tag("inviteIntoTeam.gif", :title=>"申请加入球队", :class=>"shortcut_icon"), '#', :onclick=>'javascript:j("#send_team_join_request_div").dialog("open");return false;')%>
  <%end%>
  <%end%>
  <%if logged_in? && current_user.is_team_admin_of?(@team)%>
    <%= link_to(image_tag("inviteIntoTeam.gif", :title=>"邀请朋友加入", :class=>"shortcut_icon"), new_team_team_join_invitation_path(@team))%>
  <%end%>
  <%if logged_in? && current_user.can_invite_team?(@team) %>
    <%=link_to(image_tag("inviteMacth.gif", :title=>"邀请该队参加比赛", :class=>"shortcut_icon"), new_match_invitation_path(:guest_team_id=>@team))%>
  <%end%>
  </span>

  <div class="tab" style="margin-right:40px">
  <%= "<span>球队全名: #{h @team.name}</span><br/>" unless @team.name.blank?%>
  <%= "<span>所在地: #{@team.city_text}</span><br/>" unless @team.city_text.nil?%>
  <%= "<span>建队时间: #{@team.found_time}</span><br/>" unless @team.found_time.nil?%>
  <%= "<span>球队风格: #{h @team.style}</span><br/>" unless @team.style.blank?%>
  <%if !@team.summary.blank?%>
      <label>球队简介：</label>
      <p><%=simple_format auto_link(@team.summary, :urls)%></p>
  <%end%>
  </div>
  
  <div style="margin: 10px 0 0 10px">
    <%if logged_in? %>
    <%if current_user.is_team_member_of?(@team)%>
      <%= link_to("退出球队", team_join_path(@user_team.id),:method=>:delete)%>
    <%else%>
      <%= link_to("申请加入球队", '#', :onclick=>'javascript:j("#send_team_join_request_div").dialog("open");return false;')%>
    <%end%>
    <%end%>
    <%if logged_in? && current_user.is_team_admin_of?(@team)%>
      <%= link_to("邀请朋友加入", new_team_team_join_invitation_path(@team))%>
    <%end%>
    <%if logged_in? && current_user.can_invite_team?(@team) %>
      <%=link_to("邀请该队进行比赛", new_match_invitation_path(:guest_team_id=>@team))%>
    <%end%>
  </div>
</div>

<%if logged_in? && !current_user.is_team_member_of?(@team)%>
<div id="send_team_join_request_div" class="jdialog">
  <% form_for :team_join_request, :url => team_join_requests_path, :method=>"POST" do |f| %>
    <%= f.hidden_field :team_id,  :value=>@team.id%> 
    <span>留言</span><br />
    <%= f.text_area :message %>
    <%= f.submit "申请" %>
  <% end %>  
</div>
<%end%>

<%if @trainings.length > 0%>
<div class="seperateLine clearBoth"></div>
<div style="margin-bottom:20px">
<h2><%=h @team.shortname%>最近一次训练</h2>
<div class="activity" style="border:none; padding: 0px;">
  <%= render :partial=>"shared/training_item", :locals => {:training => @trainings[0], :display_team => false}%>
  <div class="clearBoth"></div>
</div>
</div>
<%end%>

<h1><%=h @team.shortname%>最近的比赛</h1>
<%= render(:partial => 'shared/match_list', :object => @matches, :locals=>{:current_team_id=>@team.id})%>                      

<div class="seperateLine clearBoth"></div>
<div style="margin-bottom:20px">        
<h2><%=h @team.shortname%>的成员</h2>
<%= render(:partial => 'shared/user_icon', :collection => @users)%>
</div>

<div class="seperateLine clearBoth"></div>
<div style="margin-bottom:20px">   
  <h2><%=h @team.shortname%>下的讨论</h2>
  <table class="list" style="width:90%">
    <tr>
      <th style="width:20%">作者</th>
      <th style="width:80%">话题</th>
    </tr>

  <% for post in @posts %>
    <tr>
      <td><%=h post.user.nickname %></td>
      <td><%=link_to h(post.title), post  %></td>
    </tr>
  <% end %>
  </table>
  <div style="margin: 10px 0  0 10px;">
    <%if logged_in? && current_user.is_team_member_of?(@team)%>
      <%= link_to '发言', new_team_post_path(@team) %>
    <%end%>
    <%= link_to '更多', team_posts_path(@team) %>
  </div>
</div>
</div>

<div id="right_content">
<div class=" clearBoth seperateLine"></div>
<div style="margin-bottom:20px">
  <h2><%=h @team.shortname%>的日程</h2>
  <%= render(:partial => 'shared/highlight_calendar', 
    :locals => {:date => Date.today, :trainings => @calendar_trainings_hash})%>
  <div class="clearBoth"></div>
</div>
</div>
<div class="clearBoth"></div>
