<div id="header_menu">
  <div class="l1_menu">
    <%= link_to("首页", match_path(match), :class=>is_selected_match_menu_item?(:match))%>
    <%= link_to("主队", team_view_path(match.host_team_id), :class=> params[:team_id] == match.host_team_id.to_s ? 'selected' : '')%>
    <%= link_to("客队", team_view_path(match.guest_team_id), :class=> params[:team_id] == match.guest_team_id.to_s ? 'selected' : '')%>
  </div>

  <div class="l2_menu_list">
    <ul></ul>
    <ul>
      <li><%= link_to("确定参加的成员", '#')%></li>
      <li><%= link_to '可能参加的成员', '#' %></li>
      <li><%= link_to '讨论',  match_team_posts_path(match, match.host_team_id) %></li>
      <%if logged_in? %>
        <%if match.can_be_edited_formation_by?(current_user, match.host_team_id)%>
          <li><%= link_to("编辑阵型", edit_match_join_path(0, :match_id=>match.id, :team_id=>match.host_team_id))%></li>
        <%end%>
        <%if match.can_be_edited_result_by?(current_user, match.host_team_id)%>
          <li><%= link_to("填写赛果", edit_team_match_path(match.host_team_id, match))%></li>
        <%end%>
      <%end%>
    </ul>
    <ul>
      <li><%= link_to("确定参加的成员", '#')%></li>
      <li><%= link_to '可能参加的成员', '#' %></li>
      <li><%= link_to '讨论',  match_team_posts_path(match, match.guest_team_id) %></li>
      <%if logged_in? %>
        <%if match.can_be_edited_formation_by?(current_user, match.guest_team_id)%>
          <li><%= link_to("编辑阵型", edit_match_join_path(0, :match_id=>match.id, :team_id=>match.guest_team_id))%></li>
        <%end%>
        <%if match.can_be_edited_result_by?(current_user, match.guest_team_id)%>
          <li><%= link_to("填写赛果", edit_team_match_path(match.guest_team_id, match))%></li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
