<div id="header_menu">
<%if logged_in? && user.id == current_user.id%>
<div class="l1_menu">
  <%= link_to("我的首页", user_view_path(user), :class=>is_selected_user_menu_item?(:user))%>
  <%= link_to("朋友", user_friend_relations_path(user), :class=>is_selected_user_menu_item?(:friends))%>
  <%= link_to("球队", user_team_joins_path(user), :class=>is_selected_user_menu_item?(:teams))%>
  <%= day_calendar_link('活动', Time.now, user, :class=>is_selected_user_menu_item?(:activities))%>
  <%= link_to("信箱", messages_path(:as=>'receiver'), :class=>is_selected_user_menu_item?(:messages))%>
  <%= link_to("设置",  edit_user_path(current_user), :class=>is_selected_user_menu_item?(:setting))%>
</div>

<div class="l2_menu_list">
  <ul></ul>
  <ul>
    <li><%= link_to("我的朋友", user_friend_relations_path(user))%></li>
    <li><%= link_to("朋友邀请", friend_invitations_path)%></li>
    <li><%= link_to("邀请朋友加入", invite_users_path)%></li>
  </ul>
  <ul>
    <li><%= link_to("我的球队", user_team_joins_path(user))%></li>
    <li><%= link_to("新建球队", new_team_path)%></li>
    <li><%= link_to("球队邀请", team_join_invitations_path)%></li>
    <li><%= link_to("球队申请", team_join_requests_path)%></li>
  </ul>
  <ul>
    <li><%= link_to "随便踢踢", new_play_path %></li>
    <li><%= day_calendar_link('今日活动', Time.now, user)%></li>
    <li><%= month_calendar_link('本月活动', Time.now, user)%></li>
  </ul>
  <ul>
    <li><%= link_to("收件箱", messages_path(:as=>'receiver'))%></li>
    <li><%= link_to("发件箱", messages_path(:as=>'sender'))%></li>
  </ul>
  <ul></ul>
</div>
<%else%>
<div class="l1_menu">
  <%= link_to("个人首页", user_view_path(user), :class=>is_selected_user_menu_item?(:user))%>
  <%= link_to("朋友", user_friend_relations_path(user), :class=>is_selected_user_menu_item?(:friends))%>
  <%= link_to("球队", user_team_joins_path(user), :class=>is_selected_user_menu_item?(:teams))%>
  <%= day_calendar_link('活动', Time.now, user, :class=>is_selected_user_menu_item?(:activities))%>
</div>

<div class="l2_menu_list">
  <ul></ul>
  <ul></ul>
  <ul></ul>
  <ul>
    <li><%= day_calendar_link('今日活动', Time.now, user)%></li>
    <li><%= month_calendar_link('本月活动', Time.now, user)%></li>
  </ul>
</div>
<%end%>
</div>