<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title ? @title : h(@team.name)%></title>
  <%= javascript_include_tag "jquery-1.2.3.min.js" %>
  <%= javascript_include_tag "jquery.dimensions.js" %>
  <%= javascript_include_tag "ui.mouse.js" %>
  <%= javascript_include_tag "ui.dialog.js" %>
  <%= javascript_include_tag "application" %>
  <%#= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div>
  <%= link_to team_image_tag(@team), team_view_path(@team) %>
  <h1><%= link_to h(@team.shortname), team_view_path(@team)  %></h1>

  <%if logged_in?%>
    <%= link_to("我的设置", edit_user_path(current_user))%>
    <%= link_to "退出", session_path(0), :method=>:delete %>
  <%else%>
    <%= link_to "登录", new_session_path %>
  <%end%>
</div>

<%= render(:partial => 'shared/team_menu', :locals => {:team => @team})%>

<%= yield  %>

</body>
</html>